<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= config.language %>" lang="<%= config.language %>"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="utf-8" />
    <title><%= config.title %></title>
    <meta name="generator" content="BUPE" />
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
    <%= for style <- config.styles do %>
      <link type="text/css" rel="stylesheet" href="<%= get_content_path(style) %>" />
    <% end %>
  </head>
  <body>
    <h2>Table of contents</h2>
    <nav epub:type="toc">
      <ol>
        <%= for node <- config.pages do %>
        <li><a href="<%= get_content_path(node) %>"><%= node.description %></a></li>
        <% end %>
      </ol>
    </nav>
  </body>
</html>
