<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= config.lang %>" lang="<%= config.lang %>"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="utf-8" />
    <title><%= config.title %></title>
    <meta name="generator" content="BUPE" />
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
  </head>
  <body>
    <h2>Table of contents</h2>
    <nav epub:type="toc">
      <ol>
        <%= for node <- config.nav do %>
        <li><a href="<%= node.content %>"><%= node.label %></a></li>
        <% end %>
      </ol>
    </nav>
  </body>
</html>